<a href="/">Main site</a>

<% @detections.each do |detection| %>
<p>Discoverer: <a href="/discoveries/<%= detection.discovery_id %>"><%= detection.discoverer %></a></p>
<p>Observation Type: <%= detection.observation_type%></p>
<p>Planet: <%= detection.planet %></p>
<p>Planet Type: <%= detection.type %></p>
<p>Habitable: <%= detection.habitable %></p>
<p>Mass: <%= detection.mass %></p>
<p>Discovery date: <%= detection.discovery %></p>
</hr>
<%end%>
